/* Utility */
.flex_center{
    display: flex;
    align-items: center;
}

.header_nav a{
    text-decoration: none;
    cursor: pointer;
}

.txt_align_dx{
    text-align: right;
}

.drop::after{
    content: "";
    display: inline-block;
    height: 6px;
    width: 6px;
    transform: rotate(-45deg);
    margin: 2px 3px;
    border-bottom: 2px solid #031C4E;
    border-left: 2px solid #031C4E;
}
/* end Utility */

/* Color */
.txt_color{
    color: #031C4E;
}

/* end Color */

/* Button */
.btn{
    text-decoration: none;
    border: 1px solid #0570FF;
    border-radius: 5px;
    color: #0570FF; 
    padding: 10px 10px;
    margin: 0 10px;
    cursor: pointer; 
}

/* end Button */

/* Site header */
header{
    width: 100%;
    box-shadow: 0 0 3px #333333;
    font-size: 15px;
}

/* Logo section */
.logo> img{
    height: 30px;
    margin: 15px 0;
}
/* end Logo section */

 /* Nav link */
 .nav_link{
    padding: 0 10px;
}



/* end Site header */