/**************************** 
 * Utility 
 ***************************/

a{
    text-decoration: none;
    cursor: pointer;
}

.small_container{
    width: 80%;
    margin: auto;
}

.flex_center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.txt_align_dx{
    text-align: right;
}

.drop::after{
    content: "";
    display: inline-block;
    height: 0.4vw;
    width: 0.4vw;
    transform: rotate(-45deg);
    margin: 2px 3px;
    border-bottom: 2px solid #031C4E;
    border-left: 2px solid #031C4E;
}

/**************************** 
 * end Utility 
 ***************************/


/**************************** 
 * Color 
 ***************************/

.txt_color{
    color: #031C4E;
}

.txt_lblue{
    color: #3A8AFF;
}

.txt_white{
    color: #ffffff;
}

.txt_black{
    color: #000000;
}

.txt_grey{
    color: #6F7B97;
}

/**************************** 
 * end Color 
 ***************************/


 /**************************** 
 * Buton 
 ***************************/


.btn{
    text-decoration: none;
    border: 0.1vw solid #0570FF;
    border-radius: 5px;
    color: #0570FF; 
    padding: 0.2vw 1vw;
    margin-left: 0.7vw;
    cursor: pointer; 
}

.hero_btn, .terms_service{
    margin: auto;
    margin-top: 0.8vw;
    font-size: 0.8vw;
    padding-bottom: 2vw;
}

.account_btn{
    background-color: #579AFF;
}

.google_btn{
    background-image: url(../img/google-icon.png);
    background-size: 1.5vw;
    background-repeat: no-repeat;
    box-shadow: 0.1vw 0.1vw 0.1vw #cccccc;
    background-position: 2% 50%;
}

.google_btn a{
    color: #626262;
}

/**************************** 
 * end Button 
 ***************************/


/**************************** 
 * Header
 ***************************/

header{
    width: 100%;
    height: 4vw;
    box-shadow: 0 0 3px #333333;
    font-size: 1vw;
    display: flex;
    align-items: center;
}

/* Logo section */
.logo> img{
    height: 2vw;
}
/* end Logo section */

 /* Nav link */
 .nav_link{
    padding: 0 2%;
}

.min_width{
    min-width: 26vw;
}
/* end Nav link */

/**************************** 
 * Header
 ***************************/


 /**************************** 
 * Main
 ***************************/

 /* Hero */
h1{
    font-size: 3.6vw;
    margin-top: 6%;
    line-height: 4vw;
    padding-right: 7vw;
}

.hero [class*="col-"]{
    min-width: 35%;
}

.hero_sx{
    padding-top: 2vw;
}

.form{
    background-color: #ffffff;
    border-radius: 5px;
    height: 100%;
    margin: 3.1vw 0;
    margin-left: 1vw;
    text-align: center;
    padding-top: 2vw;
}

.hero{
    height: 30vw;
    background-image: url(../img/bg-banner-home.jpg);
    background-repeat: 0;
    background-size: cover;
    background-position: 49% 0%;
}

.hero_form, .hero_btn {
    width: 90%;
    margin-top: 0.5vw;
    padding: 0.5vw 0.2vw;
    border: 0.1vw solid #EEEEEE;
    border-radius: 5px;
    font-size: 1vw;
}

.hero p{
    font-size: 1.3vw;
    padding: 1.5vw 0;
    opacity: 70%;
    margin-right: 1.5vw;
}

.form h2{
    font-size: 1.7vw;
}

.terms_service a{
  text-decoration: underline;
}
/* end Hero */

/* Customer */
.customer{
    text-align: center;
    background-color: #F3F5F9;
}

.customer h3{
    padding: 2.5vw 0;
}
.customer h4{
    padding-top: 1vw;
    padding-bottom: 2vw;

}
.customer h3, .customer h4{
    font-size: 1vw;
}
.customer ul li{
    display: inline;
}
.customer ul li img{
    height: 6vw;
    padding: 0 0.5vw;
}
/* end Customer */

/* Deploy section */
.deploy_inroduction{
    text-align: center;
    padding-top: 3vw;
}

.col_3{
    padding: 4vw 0;
}

.small_p{
    padding-right: 2vw;  
}

.deploy h2{
    font-size: 2.3vw;
    padding: 1vw 0;
}
.deploy p{
    font-size: 1.33vw;
}

.line li{
    font-size: 1.2vw;
    list-style: none;
    padding-bottom: 2.5vw;
    margin-top: -1.55vw;
}

.small_p img{
    display: block;
    padding-bottom: 0.8vw;
    height: 3.5vw;
    width: auto;
}

.small_p p{
    padding-top: 0.3vw;
    padding-bottom: 1.5vw;
}

.small_p h4, .small_p p{
    font-size: 0.9vw;
}


.line::before{
    content: "";
    display: inline-block;
    width: 0.1vw;
    height: 14.3vw;
    background-color: #6f7b9772;
    margin-left: -0.8vw;
    margin-bottom: -12.35vw;
}

/* end Deploy section */



 /**************************** 
 * end Main
 ***************************/


/**************************** 
 * Media query  
 ***************************/

 /* Small Screen */
 @media screen and (max-width:767px){
    body{
        zoom: 200%;
    }
    .container{
        width: 95%;
    }
    .nav_link, #sign_up{
        display: none;
    }
    .hero{
        height: 72vw;
    }
    .form{
        height: 100%;
        margin: 0%;
        margin-top: 2%;
        font-size: 2vw;
        zoom: 140%;
    }
    .deploy{
        zoom: 120%;
    }

    .small_container{
        width: 95%;
    }

    .hero p{
        font-size: 2vw;
    }
    .customer ul li img{
        zoom: 155%;
    }
    .customer h3 h4{
        font-size: 1vw;
    }

    .deploy li{
        margin-left: 1vw;
    }
    
    .line::before{
        margin-left: 0;
    }


 }

/* Medium Screen */
@media screen and (min-width:768px) and (max-width:991px){
    body{
        zoom: 125%;
    }
    h1{
        margin-top: 15%;
        padding: 0;
        font-size: 3.4vw;
    }
    .container{
        width: 85%;
    }
    .nav_link, #sign_up{
        display: none;
    }
    .hero{
        height: 39vw;
    }
    .hero_sx p{
        font-size: 1.7vw;
    }
    .form{
        zoom: 125%;
        margin-top: 10%;
        font-size: 2vw;
    }
    .deploy{
        zoom: 130%;
    }

}
/* end Medium Screen */

/* Large Screen */
@media screen and (min-width:992px){
    .icon_menu{
        visibility: hidden;
    }

}
/* Large Screen */

/**************************** 
 * end Media query  
 ***************************/