/************************************************ 
*************************************************
 * Utilizzare Chrome pre l'apertura del file index
  in quanto ho utilizzato zoom non compatibile con
  tutti i browser.
 ************************************************ 
 ************************************************/


 
/**************************** 
 * Utility 
 ***************************/

a{
    text-decoration: none;
    cursor: pointer;
}

input{
    cursor: text;
}

.small_container{
    width: 80%;
    margin: auto;
}

.flex_center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.txt_align_dx{
    text-align: right;
}

.txt_align_center{
    text-align: center;
}

.header_nav a:hover{
    color: #3A8AFF;
}

.drop::after{
    content: "";
    display: inline-block;
    height: 0.4vw;
    width: 0.4vw;
    transform: rotate(-45deg);
    margin: 2px 3px;
    border-bottom: 2px solid #031C4E;
    border-left: 2px solid #031C4E;
}

/**************************** 
 * end Utility 
 ***************************/


/**************************** 
 * Color 
 ***************************/

.txt_color{
    color: #031C4E;
}

.txt_lblue{
    color: #3A8AFF;
}

.txt_white{
    color: #ffffff;
}

.txt_black{
    color: #000000;
}

.txt_grey{
    color: #6F7B97;
}

.linear_gradient{
    background-image: linear-gradient(to top, #001E9A,#0048C6);
}

.opacity_50{
    opacity: 50%;
}

/**************************** 
 * end Color 
 ***************************/


 /**************************** 
 * Button 
 ***************************/

.btn{
    text-decoration: none;
    border: 0.1vw solid #0570FF;
    border-radius: 5px;
    color: #0570FF; 
    padding: 0.2vw 1vw;
    margin-left: 0.7vw;
    cursor: pointer; 
}

.hero_btn, .terms_service{
    margin: auto;
    margin-top: 0.8vw;
    font-size: 0.8vw;
    padding-bottom: 2vw;
}

.account_btn{
    background-color: #579AFF;
}

.google_btn{
    background-image: url(../img/google-icon.png);
    background-size: 1.5vw;
    background-repeat: no-repeat;
    box-shadow: 0.1vw 0.1vw 0.1vw #cccccc;
    background-position: 2% 50%;
    cursor: pointer;
}

.google_btn a{
    color: #626262;
}

.signin_btn{
    background-color: #0570FF;
    text-align: center;
    margin: 0;
    padding: 0.8vw;
    font-size: 1.4vw;
}

.fa-circle:hover, .test_speed:hover, .btn:hover, .google_btn:hover{
    opacity: 50%;
    cursor: pointer;
}

.btn_create:hover{
    background-color: #0570FF;
    cursor: pointer;
}

/**************************** 
 * end Button 
 ***************************/


/**************************** 
 * Header
 ***************************/

header{
    width: 100%;
    height: 4vw;
    box-shadow: 0 0 3px #333333;
    font-size: 0.9vw;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #ffffff;
}

/* Logo section */
.logo> img{
    height: 2vw;
}
/* end Logo section */

 /* Nav link */
 .nav_link{
    padding: 0 2%;
}

.min_width{
    min-width: 26vw;
}
/* end Nav link */

/**************************** 
 * Header
 ***************************/


 /**************************** 
 * Main
 ***************************/

 /* Hero */
h1{
    font-size: 3vw;
    margin-top: 6%;
    line-height: 4vw;
    padding-right: 10vw;
}

.hero [class*="col-"]{
    min-width: 35%;
}

.hero_sx{
    padding-top: 2vw;
}

.form{
    background-color: #ffffff;
    border-radius: 5px;
    height: 100%;
    margin: 3.1vw 0;
    margin-left: 1vw;
    text-align: center;
    padding-top: 2vw;
}

.hero{
    height: 30vw;
    background-image: url(../img/bg-banner-home.jpg);
    background-size: cover;
    background-position: 49% 0%;
    margin-top: 4vw;
}

.hero_form, .hero_btn {
    width: 90%;
    margin-top: 0.5vw;
    padding: 0.5vw 0.2vw;
    border: 0.1vw solid #EEEEEE;
    border-radius: 5px;
    font-size: 1vw;
}

.hero p{
    font-size: 1.3vw;
    padding: 1.5vw 0;
    color: #BBCDFF;
    margin-right: 1.5vw;
}

.form h2{
    font-size: 1.7vw;
}

.terms_service a{
  text-decoration: underline;
}
/* end Hero */

/* Customer */
.customer{
    text-align: center;
    background-color: #F3F5F9;
}

.customer h3{
    padding: 2.5vw 0;
}

.customer h4{
    padding-top: 1vw;
    padding-bottom: 2vw;
}

.customer h3, .customer h4{
    font-size: 1vw;
}

.customer ul li{
    display: inline;
}

.customer ul li img{
    height: 6vw;
    padding: 0 0.5vw;
}
/* end Customer */

/* Deploy section */
.deploy_inroduction{
    text-align: center;
    padding-top: 3vw;
}

.col_3{
    padding: 4vw 0;
}

.small_p{
    padding-right: 3vw;
    height: 12vw;  
}

.deploy h2{
    font-size: 2vw;
    padding: 1vw 0;
}

.deploy p, .image_scroll_section p{
    font-size: 1.33vw;
}

.line li{
    font-size: 1vw;
    list-style: none;
    padding-bottom: 2.5vw;
    margin-top: -1.55vw;
}

.small_p img{
    display: block;
    padding-bottom: 0.8vw;
    height: 3.5vw;
    width: auto;
}

.small_p p{
    padding-top: 0.3vw;
    padding-bottom: 1.5vw;
}

.small_p h4, .small_p p, .image_scroll_article h4{
    font-size: 0.9vw;
}

.line::before{
    content: "";
    display: inline-block;
    width: 0.1vw;
    height: 12vw;
    background-color: #6f7b9772;
    margin-left: -0.8vw;
    margin-bottom: -10.5vw;
}
/* end Deploy section */

/* Image scroll section */
#margin_section{
    margin-top: 3vw;
}

#last{
    margin-top: -1vw;
}

#margin_h2{
    margin-bottom: 3.5vw;
}

.image_scroll_section{
    background-color: #F3F5F9;
    display: inline-block;
    width: 100%;
}

.image_scroll_article{
    text-align: center;
    font-size: 1.5vw;
    padding: 4vw 0;
}

.scroll_img{
    border-radius: 5px;
}

.slideshow{
    list-style: none;
}

.fa-circle{
    margin: 0 0.2vw;
    font-size: 0.8vw;
    color: #006AFF;
}

.pd_0{
    padding-right: 0;
}

.image_scroll_section p{
    padding-top: 1.5vw;
    padding-bottom: 3.5vw;
}

.feature_container h2{
    font-size: 2vw;
}

.image_scroll_section img{
    height: 26vw;
    width: 36vw;
    border-radius: 5px;
}

.image_scroll_article h4{
    padding-top: 0.8vw;
}

.slideshow li{
    display: inline;
    font-size: 0.4vw;
}

.feature_container .small_p{
    margin-bottom: 3.5vw;
}

.feature_container .col_3{
    padding: 2vw 0;
}

.scroll_img::before{
    content:""; 
    width: 0.6vw;   
    height: 0.6vw;
    display: inline-block;
    transform:rotate(45deg) skew(3deg, 3deg);
    margin-right: 0.5vw;
    margin-bottom: 9vw;
    border-left: 0.4vw solid #031C4E;
    border-bottom: 0.4vw solid #031C4E;
    border-radius: 2px;
    opacity: 50%;
    cursor: pointer;
}

.scroll_img::after{
    content:""; 
    width: 0.6vw;   
    height: 0.6vw;
    display: inline-block;
    transform:rotate(45deg) skew(3deg, 3deg);
    margin-left: 0.5vw;
    margin-bottom: 9vw;
    border-right: 0.4vw solid #031C4E;
    border-top: 0.4vw solid #031C4E;
    border-radius: 2px;
    cursor: pointer;
}
/* end Image scroll section */

/* Test speed section */
.test_section{
    padding-bottom: 3vw;
}

.first_block{
    padding-right: 1vw;
}
.second_block{
    padding-left: 1vw;
}

.test_speed{
    color: #00D7D2;
    text-align: right;
    padding-right: 1vw;
}

.city{
    opacity: 50%;
}

.test_section h2{
    font-size: 2vw;
    margin-top: 3.5vw;
    padding: 2vw 0;
}

.test_section .col-6{
    font-size: 0.9vw;
}

.test_section span, .test_section a{
    padding-left: 1vw;
    padding-bottom: 0.4vw;
    padding-top: 0.4vw
}
/* end Test speed section */

/* Create account section */
.last_gradient{
    text-align: center;
    padding: 4vw 0;
}

.last_gradient h2{
    font-size: 2vw;
    padding-bottom: 1.5vw;

}

#create_account{
    margin: 0;
    font-size: 1.2vw;
    padding: 0.6vw 1vw;
    background-color: #ffffff;
    color: #1C79FF;
}
/* end Create account section */

 /**************************** 
 * end Main
 ***************************/


/**************************** 
 * Footer
 ***************************/

footer{
    background-color: #031C4E;
    font-size: 0.9vw;
}

.footer_container{
    padding-top: 3vw;
    padding-bottom: 5vw;
}

.icon{
    font-size: 1vw;
    padding: 0.2vw 0;
}

.footer_container p{
    padding-bottom: 0.3vw;
}

i{
    cursor: pointer;
}

.footer_container img{
    height: 2vw;
}
footer ul>li{
    padding-bottom: 0.5vw;
}

footer h4{
    padding: 0.5vw 0;
}

footer .col-2{
    padding-left: 2vw;
    padding-bottom: 2vw;
}

footer .opacity_50:hover{
    color: #3286fa;
}

/**************************** 
 * end Footer
 ***************************/


/****************************
 * Chat bot
 ***************************/
.chat_bot{
    position: fixed;
    bottom: 3vw;
    right: 3vw;
}
 .chat_img{
     height: 5.5vw;
     width: 5.5vw;
     background-color: #1C79FF;
     background-image: url(../img/shark.png);
     background-size: 6vw;
     background-repeat: no-repeat;
     background-position: center;
     border-radius: 5px;
     box-shadow: 0 0 0.2vw #333333;
     cursor: pointer;  
 }
 
 .chat_number{
    height: 2.5vw;
    width: 2.5vw;
    background-color: #ff0000;
    color: #ffffff;
    position: fixed;
    right: 2.3vw;
    bottom: 7.1vw;
    box-shadow: 0 0 0.2vw #333333;
    border: 0.35vw solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    font-size: 1vw;
    align-items: center;
 }

 .chat_cartoon{
    height: 6vw;
    width: 26.5vw;
    background-color: white;
    position: fixed;
    bottom: 3vw;
    right: 11vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    line-height: 2vw;
    box-shadow: 0 0 0.2vw #333333;
    font-size: 1.1vw;
 }

 .indicator{
    height: 1.2vw;
    width: 1.2vw;
    background-color: white;
    transform: translate(rotate 45deg);
    transform: rotate(45deg) skew(2deg, 2deg);
    position: fixed;
    bottom: 4vw;
    right: 10.47vw;
    border-radius: 1px;
    box-shadow: 0.1vw -0.1vw 0vw #00000045;
 }

 .chat_img:hover{
     opacity: 80%;
 }

/**************************** 
 * end Chat bot
 ***************************/


 /**************************** 
 * Drop burger menu
 ****************************/

 .drop_burger{
    padding: 2.5vw 2.5vw;
    background-color: #ffffff;
    position: absolute;
    left: -75vw;
    border-bottom-left-radius: 5px;
    box-shadow: 0vw 0vw 0.5vw #000000cb;
    display: none;
    top: 8vw;
    width: 83vw;
    height: 52vw;
    z-index: 1;
 }

 .burger_link_container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 15vw;
    line-height: 4vw;
 }

 .blc_2{
     height: 10vw;
 }

 .drop_burger h5{
     font-size: 1.5vw;

 }

 .burger_link_container a{
     font-size: 1.4vw;
 }

 .burger_icon:hover .drop_burger {
     display: block;
 }

 .burger_icon:hover .hero p {
     display: none;
 }

 .icon_menu{
    position: relative;
    display: inline-block;
    padding-top: 5vw;
    padding-bottom: 5vw;
    padding-left: 4.92vw;
 }

 .drop_burger a:hover{
     text-decoration: underline;
     color: #0158c9;
 }

 .icon_menu:hover .drop_burger {
     display: block;
 }

/**************************** 
 * Drop burger menu
 ***************************/


/**************************** 
 * Media query  
 ***************************/

 /* Small Screen */
 @media screen and (max-width:767px){
    body{
       zoom: 160%;
    }
    .container{
        width: 95%;
    }
    .nav_link, #sign_up{
        display: none;
    }
    .hero{
        height: 71vw;
    }
    .form{
        height: 100%;
        margin: 0%;
        margin-top: 2%;
        font-size: 2vw;
        zoom: 150%;
    }
    .deploy{
        zoom: 120%;
    }
    .small_container{
        width: 95%;
        margin: 0;
    }
    .col_3{
        padding: 0vw;
        zoom: 130%;
    }
    hr{
        zoom: 25%;
    }
    .hero h1, .hero p{
        zoom: 120%;

    }
    .customer ul li img{
        zoom: 155%;
    }
    .customer h3 h4{
        font-size: 1vw;
    }
    .deploy li{
        margin-left: 1vw;
    }
    .feature_container h2{
        padding: 0vw 9vw;
    }
    .feature_container .small_p{
        margin-bottom: 0vw;
        zoom: 130%;
    }
    .test_section{
        zoom: 150%;
    }
    .line::before{
        margin-left: 0;
    }
    .scroll_img::before, .scroll_img::after{
        display: none;
    }
    .first_block, .second_block{
        padding: 1vw 0;
    }
    footer .col-2{
        padding-left: 0vw;
    }
    footer{
        zoom: 150%;
    }
    .chat_cartoon{
        left: 2vw;
    }
    .indicator{
        left: 27.85vw;
    }
    .chat_bot{
        left: 2vw;
        bottom: 10vw;
    }
    .chat_number{
        left: 5.5vw;
        bottom: 14vw;
    }
    .fa-bars:before {
        font-size: 2vw;
    }
    .drop_burger{
        left: -53.8vw;
        width: 62vw;
    }
}


/* Medium Screen */
@media screen and (min-width:768px) and (max-width:991px){
    body{
        zoom: 120%;
    }
    h1{
        margin-top: 15%;
        padding: 0;
        font-size: 3.4vw;
    }
    .container{
        width: 85%;
    }
    .nav_link, #sign_up{
        display: none;
    }
    .hero{
        height: 39vw;
    }
    .hero_sx p{
        font-size: 1.7vw;
    }
    .form{
        zoom: 125%;
        margin-top: 10%;
        font-size: 2vw;
    }
    .deploy{
        zoom: 130%;
    }
    .first_block, .second_block{
        padding: 1vw 0;
    }
    .test_section, .feature_container .small_p{
        zoom: 130%;
    }
    footer ul{
        height: 20vw;
    }
    footer .col-2{
        padding-left: 0vw;
    }
    footer{
        zoom: 130%;
    }
    .chat_cartoon{
        left: 2vw;
    }
    .indicator{
        left: 27.85vw;
    }
    .chat_bot{
        left: 2vw;
        bottom: 10vw;
    }
    .chat_number{
        left: 5.5vw;
        bottom: 14vw;
    }
    .fa-bars:before {
        content: "\f0c9";
        font-size: 2vw;
    }
    .drop_burger{
        left: -70vw;
    }
}
/* end Medium Screen */

/* Large Screen */
@media screen and (min-width:992px){
    .icon_menu{
        display: none;
    }
}
/* Large Screen */

/**************************** 
 * end Media query  
 ***************************/